---
title: Home
layout: default
background: '/img/bg-index.jpg'
img1: '/assets/images/Santhosh.webp'
img2: '/assets/images/yoga.webp'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Welcome to HealthAshram lifestyle</h1>
      <p class="lead mb-4">Now is the time to take complete control of your life. Sustaining one&rsquo;s health and happiness is very simple and yet many lose them and work all their lives to regain them. I invite you to follow the HealthAshram lifestyle to sustain your physical, mental and spiritual fitness.</p>
      <p class="lead mb-4">I encourage children to adopt the HealthAshram lifestyle sooner so that you need not lose your health and gain unhealthy weight and then spend your precious life trying to gain health by losing unhealthy weight. The HealthAshram lifestyle will inspire you to be enthusiastic even amidst all adversities and face life with hope, faith and confidence.</p>
      <p class="lead mb-4">Often it&rsquo;s our ignorance that ruins our health. The only way to reverse this is by gaining wisdom on health and holistic fitness. I invite you to join HealthAshram now and allow your life to be transformed. I wish you and all your beloved ones health, peace and happiness.</p>      
      <p class="lead mb-4">Santhosh George G<br />
      HealthAshram founder</p>
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">Book an appointment today</a><br><br>
      <a href="{{site.baseurl}}/courses"><u>Check out our courses</u></a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="1000" src="{{site.baseurl}}{{page.img1}}">      
    </div>
  </div>
</div>
{% endif %}

<!-- Mission -->
<section>
  <h1 class="text-center">HealthAshram Mission</h1><br>
  <div class="row">
    <div class="col"></div>
    <div class="col-md-8">
      <p>
        Create a holistically healthy and enthusiastic generation who remain
        healthy and positive at all stages in life and stay away from lifestyle diseases 
        and lifetime medication.
      </p>
    </div>
    <div class="col"></div>
  </div>
  <br>

  <div class="row">
    {% for item in site.mission %}
      <div class="col">
      <img src="{{site.baseurl}}{{item.image}}">
      <h2>{{item.topic}}</h2><br>
      {{item.content}}
      </div>
    {% endfor %}
  </div>
</section>

<!-- ===================== -->

<section class="mt-5">
  <div class="row">
    <div class="col">
      <img height="500" src="{{site.baseurl}}{{page.img2}}">
    </div>
    <div class="col mt-4">
      <h1 class="text-center mb-4">Healthy Together Online</h1>
      <p class="lead mb-4">Everything Is Better When Shared, Including healthy lifestyle</p>
      <p class="lead mb-4">When you take any of our courses or book an appointment. You are going to start an amazing journey. towards a more healthy future.</p>
      <a href="{{site.baseurl}}" class="btn btn-dark text-white px-5 btn-lg">Book Now</a><br><br>
    </div>
  </div>
</section>

<!-- ===================== -->

<section class="mt-5">
  <div class="row  justify-content-md-center">
    <h1 >Our Courses</h1><br>
    <p>
      Choose a plan to get access to our<br>
      online classes and workshops.<br>
      You can cancel any time.<br>
    </p>
  </div>
</section>
